---
title: Bands and Performers
layout: main
---

<!-- Main -->
	<div id="main" class="wrapper orangepurple bands">
		<div class="container">
			<div class="row">

				<!-- SIDEBAR BAND LIST -->
				<div id="sidebar" class="3u sidebar">
					<section>
						<ul class="default">
              {% assign bands = site.data.bands | sort: 'name' %}
              {% for band in bands %}
                {% if band.playing-this-year %}
                  <li><a href="#{{ band.name | slugify }}">{{ band.name }}</a></li>
                {% endif %}
              {% endfor %}
						</ul>
					</section>
				</div>

				<!-- THIS YEAR'S BANDS LISTINGS  -->
				<div id="content" class="9u skel-cell-important">
					<section>
						<header class="major">
							<h2>{{ page.title }}</h2>
							<span class="byline">Bands on at Cawoodstock 2019</span>
						</header>
            <ul>
              {% for band in bands %}
                {% if band.playing-this-year %}
                  <li>
                    <h3><a name="{{ band.name | slugify }}">{{ band.name }}</a></h3>
                    <div class="row">
                        <div class="3u">
                          <img src="{{ band.img }}" alt="{{band.name}} - Image missing?">
                        </div>
                        <div class="9u">
                          <p>{{ band.blurb }}</p>
                          {% if band.lineup %}
                            <p>Lineup: {{ band.lineup }}</p>
                          {% endif %}
                          {% if band.facebook %}
                            <p><a href="{{ band.facebook }}">
                              <i class="fab fa-facebook"></i>
                                  {{ band.facebook }}
                            </a></p>
                          {% endif %}
                          {% if band.web %}
                            <p><a href="{{ band.web }}">
                              <i class="fas fa-globe"></i>
                                  {{ band.web }}
                            </a></p>
                          {% endif %}
                        </div>
                      </div>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
					</section>
				</div>

			</div>
		</div>
	</div>
