<table class="default">
  <th>Time</th>
  <th>Event / Band / Activity</th>
  <th>Venue</th>
  <tr>
    <td>3pm - 5pm</td>
    <td><i class="fas fa-child" title="Kids' Activity"></i> <a href="other-activities#youthjam">Young Musician’s Open Jam</a> - The first time we've tried this! A fun, simple singalong and jam session just for young musicians - sing your favourite songs & play instruments with your friends and a live acoustic band!</td>
    <td><a href="venues#postie">The Pickled Postie</a></td>
  </tr>
  <tr>
    <td>6pm - 11pm</td>
    <td><a href="venues#skiclub">White Cross Ski Club</a> Clubhouse Bar open to non-members - call in to say hello and take a look around their new clubhouse, built by the hard work of their members.</td>
    <td><a href="venues#skiclub">White Cross Ski Club</a></td>
  </tr>
  <tr>
    <td>9pm</td>
    <td>Ryan 'n' Kieran</td>
    <td><a href="venues#jolly">The Jolly Sailor</a></td>
  </tr>
  <tr>
    <td>9pm</td>
    <td><strike><a href="https://www.facebook.com/218832071806414/photos/gm.1779457285494961/620370134985937/?type=3&theater">
        The Greatest Showman - Singalong Cinema in the Polytunnel</a> £4 on the door</strike> <span class="sold">SOLD OUT!</span></td>
    <td><a href="venues#grangeside">Grangeside Nurseries and Café</a> in association with <a href="http://www.selbyglobe.co.uk/">Selby Globe Community Cinema</a></td>
  </tr>
  <tr>
    <td>9pm - 11pm+</td>
    <td><a href="bands#sicknotes">The Sicknotes</a> - Danceable Rockabilly, pop , rock, rock'n'roll and more -  in their inimitable 'Ramshackle' style! Material ranges from Imelda May, Stray Cats and Eddie Cochrane to Queen, Paloma Faith, and Portugal - The Man</td>
    <td><a href="venues#castle">The Castle Inn</a></td>
  </tr>
</table>
