<table class="default">
  <th>Time</th>
  <th>Event / Band / Activity</th>
  <th>Venue</th>
  <tr>
    <td>11am - 3pm</td>
    <td><i class="fas fa-child" title="Kids' Activity"></i> Henna Tattoo Artist -  come and get a temporary henna tattoo for the festival weekend!</td>
    <td><a href="venues#grangeside">Grangeside Nurseries</a></td>
  </tr>
  <tr>
    <td>12 noon - 2pm</td>
    <td>Piano Al Fresco with Kath Backhouse - Pianist and Singer</td>
    <td><a href="venues#grangeside">Grangeside Nurseries</a></td>
  </tr>
  <tr>
    <td>12 noon - 5pm</td>
    <td><i class="fas fa-child" title="Kids' Activity"></i> Cawood Rocks! - rock decorating</td>
    <td><a href="venues#castle">The Castle Inn</a></td>
  </tr>
  <tr>
    <td>12 noon</td>
    <td>Stalls from 12pm at the <a href="venues#jolly">The Jolly Sailor</a></td>
    <td><a href="venues#jolly">The Jolly Sailor</a></td>
  </tr>
  <tr>
    <td>1pm - 3pm</td>
    <td><a href="bands#kaya">KAYA</a> - up-and-coming York-based band</td>
    <td><a href="venues#castle">The Castle Inn</a></td>
  </tr>
  <tr>
    <td>1pm - 9pm</td>
    <td><i class="fas fa-child" title="Kids' Activity"></i> <a href="https://www.facebook.com/events/669970853370243/">Family Fun Day</a> - BBQ - Bouncy Castle - Coconut Shy - Tattoos - Raffle - Cakes & Sweets - Live Music</a></td>
    <td><a href="venues#ferry">The Ferry Inn</a></td>
  </tr>
  <tr>
    <td>1pm - 3pm</td>
    <td>Join-in Open Jamming session - come along and join in with a bar-room singalong and jamming session - bring instruments and play along - or just come along and join in the atmosphere</td>
    <td><a href="venues#jolly">The Jolly Sailor</a></td>
  </tr>
  <tr>
    <td>2pm - 5pm</td>
    <td><i class="fas fa-child" title="Kids' Activity"></i> <a href="venues#obs">Childrens' activities and refreshments</a> - design-your-own Cawoodstock wristband & maracas, sand art, rock painting & much more!</td>
    <td><a href="/venues#obs">The Old Boys' School</a></td>
  </tr>
  <tr>
    <td>3pm - 5pm</td>
    <td>Cawood's Got Talent</td>
    <td><a href="venues#jolly">The Jolly Sailor</a></td>
  </tr>
  <tr>
    <td>3pm - 5pm</td>
    <td>Marcus and Isaac Bousfield - Jazz Trombone & Guitar</td>
    <td><a href="venues#grangeside">Grangeside Nurseries</a></td>
  </tr>
  <tr>
    <td>6pm - 8pm</td>
    <td><a href="bands#markbyrne">Mark Byrne</a> - acoustic solo</td>
    <td><a href="venues#ferry">The Ferry Inn</a></td>
  </tr>
  <tr>
    <td>7pm - 8pm</td>
    <td>Shab Hussain - Cawood's Elvis</td>
    <td><a href="venues#jolly">The Jolly Sailor</a></td>
  </tr>
  <tr>
    <td>6pm - 1am</td>
    <td><a href="venues#skiclub">White Cross Ski Club</a> - Bar open 6pm till 1am with disco & karaoke fun - free Chilli Con Carne supper -  Evening booze cruise boat rides from Ski Club - prebookable slots available (book by messaging this <a href="https://www.facebook.com/Cawoodstock-at-White-Cross-WaterSki-Club-2144915025798213/">Facebook page</a>)</td>
    <td><a href="venues#skiclub">White Cross Ski Club</a></td>
  </tr>
  <tr>
    <td>8pm till late</td>
    <td>Disco and Karaoke</td>
    <td><a href="venues#castle">The Castle Inn</a></td>
  </tr>
  <tr>
    <td>9pm - 11pm+</td>
    <td><a href="bands#sicknotes">The Sicknotes</a> - Danceable Rockabilly, pop , rock, rock'n'roll and more -  in their inimitable 'Ramshackle' style! Material ranges from Imelda May, Stray Cats and Eddie Cochrane to Queen, Paloma Faith, and Portugal - The Man</td>
    <td><a href="venues#jolly">The Jolly Sailor</a></td>
  </tr>
  <tr>
    <td>9pm - 11pm</td>
    <td><a href="bands#popfriction">Pop Friction</a> - Edgy, current and different are all words that can be used to describe POP FRICTION. A great female fronted pop trio - Great vocals and an  awesome display of musicianship on guitar too. Dancing shoes at the ready</td>
    <td><a href="venues#caravan">Cawood Park</a></td>
  </tr>
</table>
