<!-- refactor to use liquid `tablerow` helper-->
<table class="default">
  <th>Time</th>
  <th>Event / Band / Activity</th>
  <th>Venue</th>
  <tr>
    <td>10am -</td>
    <td>Musical Sunday Breakfast - music, coffee, bacon etc</td>
    <td><a href="venues#postie">The Pickled Postie</a></td>
  </tr>
  <tr>
    <td>11am - 3pm</td>
    <td><i class="fas fa-child" title="Kids' Activity"></i> Henna Tattoo Artist -  come and get a temporary henna tattoo for the festival weekend!</td>
    <td><a href="venues#grangeside">Grangeside Nurseries</a></td>
  </tr>
  <tr>
    <td>12noon till late</td>
    <td><i class="fas fa-child" title="Kids' Activity"></i> Family Fun Day & Boat Rides, with BBQ food by <a href="venues.html#postie">The Pickled Postie</a></td>
    <td><a href="venues#skiclub">White Cross Ski Club</a></td>
  </tr>
  <tr>
    <td>12 noon - 1pm</td>
    <td>Cawood’s very own Elvis - <a href="bands#shab">Shahab Hussain</a></td>
    <td><a href="venues#skiclub">White Cross Ski Club</a></td>
  </tr>
  <tr>
    <td>12pm onwards</td>
    <td><i class="fas fa-child" title="Kids' Activity"></i> <a href="https://www.facebook.com/clayfever2015/">Clayfever</a> - pottery crafts and painting</td>
    <td><a href="venues#castle">The Castle Inn</a></td>
  </tr>
  <tr>
    <td>1pm - 2pm</td>
    <td><a href="bands#ryanshaw">Michael Stanns (Ryan Shaw music)</a></td>
    <td><a href="venues#skiclub">White Cross Ski Club</a></td>
  </tr>
  <tr>
    <td>2pm - 4pm</td>
    <td>Piano Al Fresco with Kath Backhouse - Pianist and Singer</td>
    <td><a href="venues#grangeside">Grangeside Nurseries</a></td>
  </tr>
  <tr>
    <td>2pm - 3pm</td>
    <td><a href="bands#yorkuleles">Yorkuleles</a> - Ukulele Club and Orchestra</td>
    <td><a href="venues#skiclub">White Cross Ski Club</a></td>
  </tr>
  <tr>
    <td>3pm - 4pm</td>
    <td><a href="bands#renames">The Renames</a> - Soft and country rock favourites with some original songs too!</td>
    <td><a href="venues#skiclub">White Cross Ski Club</a></td>
  </tr>
  <tr>
    <td>4pm - 5pm</td>
    <td><a href="bands#markbyrne">Mark Byrne</a> - acoustic solo</td>
    <td><a href="venues#skiclub">White Cross Ski Club</a></td>
  </tr>
  <tr>
    <td>5pm - 6pm</td>
    <td>Marcus and Isaac Bousfield - Jazz Trombone & Guitar</td>
    <td><a href="venues#skiclub">White Cross Ski Club</a></td>
  </tr>
  <tr>
    <td>6pm - 8pm</td>
    <td><a href="bands#chrissarah">Chris & Sarah - Jazz Duo</a></td>
    <td><a href="venues#jolly">The Jolly Sailor</a></td>
  </tr>
  <tr>
    <td>7pm - 8pm</td>
    <td><a href="bands#nat-antag">Natural Antagonists</a> - melodic guitar and vocal harmonies performing original and well-known material</td>
    <td><a href="venues#ferry">The Ferry Inn</a></td>
  </tr>
  <tr>
    <td>9pm - 12mn</td>
    <td>Excel and the Marcos</td>
    <td><a href="venues#jolly">The Jolly Sailor</a></td>
  </tr>
  <tr>
    <td>9pm - 11pm</td>
    <td><a href="bands#discofactor">Disco Factor</a> - Some of the best disco tunes to have made their way on to the radio at the height of the Disco era. Disco Factor are a choreographed group with 2 girls and 1 guy who just love to entertain. If these don’t get you on the dance floor, nothing will!</td>
    <td><a href="venues#caravan">Cawood Park</a></td>
  </tr>
  <tr>
    <td>9pm - 11+</td>
    <td><a href="bands#sicknotes">The Sicknotes</a> - Danceable Rockabilly, pop , rock, rock'n'roll and more -  in their inimitable 'Ramshackle' style! Material ranges from Imelda May, Stray Cats and Eddie Cochrane to Queen, Paloma Faith, and Portugal - The Man</td>
    <td><a href="venues#skiclub">White Cross Ski Club</a></td>
  </tr>
</table>
