<!DOCTYPE HTML>
<!--
	Horizons by TEMPLATED	templated.co @templatedco	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head profile="http://www.w3.org/2005/10/profile">
	<title>{{ page.title }}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content={{ page.title }} />
	<meta name="keywords" content="" />
	<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/css/ie/html5shiv.js"></script><![endif]-->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/skel-layers.min.js"></script>
	<script src="assets/js/init.js"></script>
	<link rel="icon" type="image/png" href="favicon.png">
	<link rel="stylesheet" href="assets/css/all.css">
</head>

<body class="12u skel-cell-important">
	{{ content }}
	<!-- Footer -->
	<div id="footer">
		<div class="container 8u">

			<!-- Lists -->
			<div class="row">
				<div class="8u">
					<section>
						<header class="major">
							<h2>Cawoodstock information</h2>
						</header>
						<div class="row">
							<section class="6u">
								<ul class="default">
									<li><a href="getting-here">How to get here</a></li>
									<li><a href="schedule">Cawoodstock schedule</a></li>
									<li><a href="venues">Venues</a></li>
								</ul>
							</section>
							<section class="6u">
								<ul class="default">
									<li><a href="other-activities#fairytrail">Cawood Fairy Trail</a></li>
									<!-- <li><a href="resources">Posters and other resources</a></li> -->
								</ul>
							</section>
						</div>
					</section>
				</div>
				<div class="4u">
					<section>
						<header class="major">
							<h2>Previous Cawoodstocks</h2>
						</header>
						<ul class="previous Cawoodstocks">
							<li>
								<a href="2022.cawoodstock.org">2022</a>
							</li>
							<li>
								<a href="2021.cawoodstock.org">2021</a>
							</li>
							<li>
								<a href="2019.cawoodstock.org">2019</a>
							</li>
							<li>
								<a href="2018.cawoodstock.org">2018</a>
							</li>
						</ul>
					</section>
				</div>
			</div>

			<!-- Copyright -->
			<div class="copyright">
				<p>
					Cawoodstock site built and maintained by
					<a href="mailto:marcusbaw@gmail.com" target="_blank">
						Marcus Baw</a> of <a href="https://www.bawmedical.co.uk">Baw Medical Ltd</a>. Site <a
						href="https://github.com/pacharanero/cawoodstock-website" target="_blank">source code</a> <span
						class="fab fa-github"></span>
				</p>
				<p>Cawoodstock poster design: Karen Vipass</p>
				<p>
					Cawood photo credits:
					<a href="https://instagram.com/gazzhuman">
						Gazz Hughes</a>
				</p>
				<br />
				<p>
					Cawoodstock thanks <a href="https://templated.co">TEMPLATED</a>,
					<a href="https://unsplash.com">Unsplash</a>,
					<a href="https://unsplash.com/cc0">CC0</a>)
					and <a href="https://cloudcannon.com">Cloud Cannon</a>
					for the free Jekyll template from which this site is built.
				</p>
			</div>
		</div>
	</div>

</body>

</html>
