<!DOCTYPE HTML>
<!--
	Horizons by TEMPLATED	templated.co @templatedco	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel-layers.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/init.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
		<noscript>
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/skel.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie/v8.css" /><![endif]-->
	</head>
	<body>
	{{ content }}
		<!-- Footer -->
			<div id="footer">
				<div class="container">

					<!-- Lists -->
						<div class="row">
							<div class="8u">
								<section>
									<header class="major">
										<h2>Cawoodstock information</h2>
										<!-- <span class="byline">Quisque semper augue mattis wisi maecenas ligula</span> -->
									</header>
									<div class="row">
										<section class="6u">
											<ul class="default">
												<li><a href="#">How to get here</a></li>
												<li><a href="{{ site.baseurl }}/schedule.html">Cawoodstock schedule</a></li>
												<li><a href="#">Charities</a></li>
												<li><a href="{{ site.baseurl }}/venues.html">Venues</a></li>
											</ul>
										</section>
										<section class="6u">
											<ul class="default">
												<li><a href="https://www.facebook.com/cawoodfairytrail">Cawood Fairy Trail</a></li>
												<li><a href="{{ site.baseurl }}/bands.html">Bands and performers</a></li>
											</ul>
										</section>
									</div>
								</section>
							</div>
							<div class="4u">
								<section>
									<header class="major">
										<h2>Location & Venues Map</h2>
									</header>
									<iframe class="googlemaps" src="https://www.google.com/maps/d/embed?mid=1eZyMOtPH17iBGeZUIRRnDndquAIvygxs" width="400" height="400"></iframe>
									<ul class="contact">
										<!-- <li>
											<span class="address">Address</span>
											<span>1234 Somewhere Road #4285 <br />Nashville, TN 00000</span>
										</li> -->
										<!-- <li>
											<span class="mail">Mail</span>
											<span><a href="#">someone@untitled.tld</a></span>
										</li> -->
										<!-- <li>
											<span class="phone">Phone</span>
											<span>(000) 000-0000</span>
										</li> -->
									</ul>
								</section>
							</div>
						</div>

					<!-- Copyright -->
						<div class="copyright">
							Cawoodstock site built and maintained by
							<a href="mailto:marcusbaw@gmail.com" target="_blank">
							Marcus Baw</a> of <a href="https://www.bawmedical.co.uk">Baw Medical Ltd</a>. Site <a href="https://github.com/pacharanero/cawoodstock-website" target="_blank">source code</a> <span class="fab fa-github"></span>
							Cawood images credits:
							<a href="https://instagram.com/gazzhuman">
							Gazz Hughes</a>
              <br/>
              Cawoodstock thanks <a href="https://templated.co">TEMPLATED</a>,
              <a href="https://unsplash.com">Unsplash</a>,
              <a href="https://unsplash.com/cc0">CC0</a>)
              and <a href="https://cloudcannon.com">Cloud Cannon</a>
              for the free Jekyll template from which this site is built.
						</div>

				</div>
			</div>

	</body>
</html>
