---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<h1><a href="#" id="logo">{{ page.title }}</a></h1>

					{% include nav.html %}



				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper orange">
				<section class="container">
					<!-- <div class="row no-collapse-1">
						<section class="4u">
							<a href="{{ site.baseurl }}/schedule.html" class="image feature"><img src="{{ site.baseurl }}/assets/images/feature-img01.jpg" alt=""></a>
							<p>Music</p>
						</section>
						<section class="4u">
							<a href="{{ site.baseurl }}/schedule.html" class="image feature"><img src="{{ site.baseurl }}/assets/images/feature-img02.jpg" alt=""></a>
							<p>Performing Arts</p>
						</section>
						<section class="4u">
							<a href="{{ site.baseurl }}/schedule.html" class="image feature"><img src="{{ site.baseurl }}/assets/images/feature-img03.jpg" alt=""></a>
							<p>Culture</p>
						</section>
					</div> -->
				</section>
			</div>

	{{ content }}
